@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*define the aubrey-regular class to use the Aubrey font with normal weight and style*/
.aubrey-regular {
  font-family: "Aubrey", system-ui;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
:root {
  --darkpink:#E94E77;
  --lighttan:#EEEBE6;
  --rose:#D68189;
  --tan:#C6A49A;
  --ivory:#E3CFB4;
  --def: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}
p {
  font-size: 1rem;
  font-weight: 300;
}
h1 {
  font-family: "Aubrey", system-ui;
  font-weight: 600;
  font-style: bold;
  font-size: 2.5rem;
}

.topnav { 
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--def);
  padding: 10px 20px;
}
.logonav img {
  width: 300px;
}
.linknav {
  display: flex;
  gap: 20px;
}
.linkanchor {
  background-color: var(--darkpink);
  padding: 15px 20px;
  border-radius: 10px;
}
.linkanchor a {
  text-decoration: none;
  color: var(--lighttan);
  text-transform: uppercase;
  font-weight: 500;
}
.frontpage {
  position: relative;
  background-color: var(--def);
  height: 60vh;
  align-items: center;  
}
#introtext {
  position: absolute;
  bottom: 20%;
  text-align: justify;
  max-width: 100vw;
  padding: 0 20%; 
}
#introtext h1 {
  margin-bottom: 20px;
  text-align: center;
}
.featured {
  width: 60vw;
}
.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighttan);
  padding: 40px 20px;
}
#feature {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}
#f1 {
  display: flex;
  grid-column: 1 / 4;
  grid-row: 1;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
.sectiontitle {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}
#f2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
#f2 h4 {
  line-height: 2em;
}
#lessonlist {
  margin: 1em 0;
}
#lessonlist ol {
  padding-top: 1em;
} 
#lessonlist ol li {
  margin-left: 3em;
}
#f3 {
  grid-column: 3;
  grid-row: 2;
  width: 15vw;
  background-color: var(--tan);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--def);
  line-height: 2rem;
  padding: 20px 30px;
}
#f3 p {
  text-align: center;
  color: var(--lighttan);
  line-height: 1.2rem;
  padding: 1em 0;
}
#f3 span {
  width: 75px;
  height: 75px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--darkpink);
  text-align: center;
  border: 3px solid var(--def);
  border-radius: 50%;
  align-content: center;
  background-color: var(--ivory);
}
#f3 span sup {
  font-size: 0.8rem;
}
.enrollbtn {
  background-color: var(--darkpink);
  color: var(--def);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--def);
}
#history {
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lighttan);
  padding: 100px 20px;
}
.lessons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 20px;
  width: 60vw;
}
.lessonimg {
  width: 100%;
  border-radius: 10px;
}
.lessoncard {
  position: relative;
  padding: 10px;
  padding-bottom: 50px;
  background-color: var(--def);
  border-radius: 10px;
}
.lessoncard h3 {
  text-align: center;
  line-height: 3rem;
}
.lessoncard p {
  margin-bottom: 2rem; 
}
.lessonsbtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--black);
}
.lessonsbtn h6:first-of-type {
  font-size: 1.2rem;
  color: var(--def);
}
#l1 {
  grid-column: 1 / 5;
  grid-row: 1;
  text-align: center;
  line-height: 1.5em;
}
#l2 {
  grid-column: 1;
  grid-row: 2;
}
#l3 {
  grid-column: 2;
  grid-row: 2;
}
#l4 {
  grid-column: 3;
  grid-row: 2;
}
#l5 {
  grid-column: 4;
  grid-row: 2;
}
.bottomnav {
  display: flex;
  justify-content: space-between;
  background-color: var(--rose);
  padding: 20px;
}
.footernav {
  display: flex;
}
.bottomnav .logo {
  width: 200px;
}
.bottomnav div {
  align-content: center;
}
#about {
  background-image: url(../images/bg_tile.png);
  background-color: var(--tan);
  padding: 30px;
}
#about h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  color: var(--def);
}
.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
#origamimasters {
  background-color: var(--def);
}
#lessonmasters {
  width: 100%;
  background-color: var(--lighttan);
}

#lesson {
  grid-template-columns: repeat(2, 1fr);  
}
.gallerycontainer {
  width: 60vw;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  
}
.gallerycontainer p {
  font-size: .7rem;
}
#lessonmasters #lessonmasterscontainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 10px 10px;
}
#headmaster {
  justify-items: center;
  width: 60%;
}
#headmaster img{
  margin: 10px;
  width: 100%;
  border-radius: 20px;
}
.gallery {
  display: grid;
}
.galleryitem img {
  width: 100%;
  border-radius: 100%;
}
#lesson .galleryitem img {
  width: 50%;
  border-radius: 100%;
}
#origami {
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.galleryitem {
  display: grid;
  justify-items: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}