@import url('https://fonts.googleapis.com/css2?family=Aubrey&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Aubrey-Regular.ttf') format('ttf');
  font-display: auto;
}
/* Aubrey */
@font-face {
  font-family: 'Aubrey';
  src: url('fonts/Aubrey-Regular.ttf') format('truetype');
  font-display: auto;
}

/* Roboto Condensed */
@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Regular.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('fonts/Roboto_Condensed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

/* Roboto */
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Italic.ttf') format('truetype');
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-display: auto;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

/* Roboto SemiCondensed */
@font-face {
  font-family: 'Roboto SemiCondensed';
  src: url('fonts/Roboto_SemiCondensed-Regular.ttf') format('truetype');
  font-display: auto;
}
:root {
  --darkpink:#E94E77;
  --lighttan:#EEEBE6;
  --rose:#D68189;
  --tan:#C6A49A;
  --ivory:#E3CFB4;
  --def: #fff;
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  
}
p {
  font-size: 1rem;
  font-weight: 300;
}
h1 {
  font-family: "Aubrey", system-ui;
  font-weight: 600;
  font-style: bold;
  font-size: 2.5rem;
}

.topnav { 
  display: flex;
  flex-direction: row;
  background-color: var(--def);
  padding: 10px 20px;
  justify-content: space-between;
}
.topnav img {
  width: 400px;
}
.linknav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.linkanchor {
  background-color: var(--rose);
  padding: 15px 20px;
  border-radius: 10px;
  height: fit-content;
  transition: .6s ease-in-out;
}
.linkanchor:hover {
  background-color: var(--darkpink);
  transform: translateY(10px);
}
.linkanchor a {
  text-decoration: none;
  color: var(--lighttan);
  text-transform: uppercase;
  font-weight: 500;
}
#intro {
  display: flex;
  align-items: flex-end;
  margin: 50px 10vw;
  width: 80vw;
  height: 50vh;
}
#introtext {
}
#introtext h1 {
  margin-bottom: 20px;
  text-align: center;
}
#introtext p {
  font-weight: 400;
  font-size: 1.2em;
}
.featured {
  width: 80vw;
}
.section2 {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: var(--lighttan);
  padding: 40px 20px;
}
.hammersection {
  background-color: var(--lighttan);
  padding: 50px 0;

}
#feature {
  width: 80vw;
  margin: 0 10vw;
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
#f1 {
  width: 80vw;
  text-align: center;
  line-height: 2;
}
.sectiontitle {
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}
#f2 {
  margin: 0;
}
.featuredlesson {
  display: flex;
  flex-direction: row;
}
#f2 h4 {
  line-height: 2em;
}
#lessonlist {
  margin: 1em 0;
}
#lessonlist ol {
  padding-top: 1em;
} 
#lessonlist ol li {
  margin-left: 3em;
}
#f3 {
  background-color: var(--tan);
  border-radius: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--def);
  line-height: 2rem;
  padding: 20px 30px;
}
#f3 p {
  text-align: center;
  color: var(--lighttan);
  line-height: 1.2rem;
  padding: 1em 0;
}
#f3 span {
  width: 75px;
  height: 75px;
  font-size: 2rem;
  font-weight: 800;
  color: var(--darkpink);
  text-align: center;
  border: 3px solid var(--def);
  border-radius: 50%;
  align-content: center;
  background-color: var(--ivory);
}
#f3 span sup {
  font-size: 0.8rem;
}
.enrollbtn {
  background-color: var(--darkpink);
  color: var(--def);
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
ul {
  list-style: none;
  display: inline-block;
}
.section3 {
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: var(--def);
}
#history {
  width: 80vw;
  padding: 50px 20px;
  line-height: 1.2;
}
.section4 {
  background-color: var(--lighttan);
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.lessons {
  width: 80vw;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.lessonimg {
  width: 100%;
  border-radius: 10px;
}
.lessoncard {
  display: flex;
  flex-direction: column;
  max-width: 17vw;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--def);
  padding: 10px;
  border-radius: 10px;

}
.lessoncard h3 {
  line-height: 3rem;
}
.lessoncard p {
  text-align: left;
  margin-bottom: 2rem; 
}
.lessonsbtn {
  color: var(--black);
  transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.lessonsbtn:hover {
  transform: scale(1.2, 1.2);
  background-color: var(--black);
  color: var(--tan);
}
.lessonsbtn h6:first-of-type {
  font-size: 1.2rem;
  color: var(--def);
}
.bottomnav {
  display: flex; 
  justify-content: space-between;
  background-color: var(--rose);
  padding: 20px;
}
.footernav {
  display: flex;
  gap: 10px;
}
.bottomnav .logo {
  width: 200px;
}
.bottomnav div {
  align-content: center;
}
#title {
  background-image: url(../images/bg_tile.png);
  background-color: var(--tan);
  padding: 30px;
}
#title h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: 400;
  color: var(--def);
}
.sections {
  /*display: flex;*/ 
  flex-direction: column;
  align-items: center;
  padding: 70px 0;
}
#origamimasters {
  background-color: var(--def);
  text-align: center;
  display: flex;
}
#lessonmasters {
  width: 100%;
  background-color: var(--lighttan);
  text-align: center;
  display: flex;
}

#lesson {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 40vw;
}
.gallerycontainer {
  width: 80vw;
  padding: 50px 20px;
  display: flex; 
  justify-content: center;
  
}
.gallerycontainer p {
  font-size: .7rem;
}
#lessonmasters #lessonmasterscontainer {
  display: flex;
  gap: 0px;
  padding: 10px 10px;
}
#headmaster {
  justify-items: center;
  width: 50%;
}
#headmaster img{
  margin: 10px;
  width: 50%;
  border-radius: 20px;
}
.gallery {
  display: flex;
}
.galleryitem img {
  width: 100%;
  border-radius: 100%;
}
#lesson .galleryitem img {
  width: 50%;
  border-radius: 100%;
}
#origami {
  display: flex;
  gap: 30px;
}
.lessonsect {
  padding: 100px 0;
}
#lessonsecttitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.galleryitem {
  display: flex;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  max-width: 20vw;
}
.lessonsect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
.lessonitemgallery {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.lessonitem {
  max-width: 17vw;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--ivory);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.videolesonsect {
  background-color: var(--lighttan);
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  text-align: center;
  align-items: center;
}
.videolessontitle {
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.videolessongallery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80vw;
}
.videolessonitem {
  max-width: 25vw;
  padding: 10px;
  background-color: var(--def);
  border-radius: 10px;
}
.videolessonitem iframe {
  width: 100%;
}
